h1 {
   font-weight: 800;
   font-size: 60px;
   line-height: 84px;
   @media (max-width: 1279px) {
      font-size: 40px;
      line-height: 49px;
   }
   @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
   }
}

h2 {
   font-weight: 800;
   font-size: 40px;
   line-height: 49px;
   @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
   }
}

h3 {
   font-weight: 800;
   font-size: 32px;
}

h4 {
   font-weight: 800;
   font-size: 28px;
   line-height: 42px;
   @media (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
   }
}

h5 {
   font-size: 24px;
   font-weight: 800;
}

h6 {
   font-size: 18px;
   font-weight: 800;
   line-height: 22px;
}

.gm-control-active {
   width: 30px !important;
   height: 30px !important;
   left: 12px !important;
   line-height: 20px !important;
   background: #387DFF !important;
   box-shadow: 0px 0px 12px #0052E01A !important;
   margin-bottom: 10px !important;
   border-radius: 40px;

   img {
      display: none !important;
   }
}

.gm-control-active{
   background: #76CA3C!important;
   box-shadow: 0px 2px 4px #00000029!important;
   border-radius: 4px!important;
   color:white!important;
   width: 32px!important;
   height: 32px!important;
   margin:5px 0!important;
}
.gm-control-active:first-child:before {
   content: "+" !important;
   color: white !important;
   font-size: 36px !important;
   font-weight: bold!important;
   display: flex!important;
   justify-content: center!important;
   align-items: center!important;
}

.gm-control-active:nth-of-type(2):before {
   content: '−' !important;
   color: white !important;
   font-size: 36px !important;
   font-weight: bold!important;
   display: flex!important;
   justify-content: center!important;
   align-items: center!important;
}

.gmnoprint {
   div {
      background: none!important;
      box-shadow: none!important;
   }
}